@import 'normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primaryBg: #3e3e3e;
$secondaryBg: #dddddd;
$accentYellow: #abab30;

html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

// Nav
.s-nav {
    background-color: #232323;
    color: white;
    padding: 20px;

    .name {
        margin-top: 0;
    }

    .ribbon {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.bottom {
            color: #abab30;

            .item {
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }

        &.top {
            .item {
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }
    }
}

// Main
.s-main {
    background-color: $primaryBg;
    color: #f9f9f9;

    display: grid;
    grid-template-columns: 2fr 5fr;

    .panel {
        margin: 0 6px 0;
        padding: 0 10px 48px;
        height: calc(100vh - 116.64px);
        overflow-y: auto;

        &:hover {
            &::-webkit-scrollbar {
                &-thumb {
                    background-color: #ccc;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 3px !important;
            height: 3px !important;

            &-thumb {
                background-color: $primaryBg;
                border-radius: 0.6rem;
                transition: background-color 300ms;
            }

            &-track {
                background: transparent;
            }
        }

        &.edit {
            padding-top: 48px;

            .form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .group {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;

                    &.basis-30 {
                        flex-basis: 30%;
                        min-width: 0px;
                    }

                    .label {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 1.1;
                        margin-bottom: 4px;
                    }

                    .field {
                        background-color: $secondaryBg;
                        border: none;
                        transition: background 300ms;
                        padding: 6px 10px;

                        &:focus,
                        &:hover {
                            outline: none;
                            background-color: white;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }

                    &.cover {
                        margin-bottom: 32px;

                        .pointer {
                            position: relative;
                            width: fit-content;
                            margin: auto;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                            }
                        }

                        .preview {
                            display: block;
                            margin: auto;
                            height: 300px;
                            width: 300px;
                            background-image: url("data:image/svg+xml,%3Csvg width='300' height='300' viewBox='0 0 300 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='300' height='300' fill='%23D9D9D9'/%3E%3Cpath d='M145.145 174V139.091H154.827V174H145.145ZM150.009 134.591C148.569 134.591 147.334 134.114 146.304 133.159C145.289 132.189 144.781 131.03 144.781 129.682C144.781 128.348 145.289 127.205 146.304 126.25C147.334 125.28 148.569 124.795 150.009 124.795C151.448 124.795 152.675 125.28 153.69 126.25C154.721 127.205 155.236 128.348 155.236 129.682C155.236 131.03 154.721 132.189 153.69 133.159C152.675 134.114 151.448 134.591 150.009 134.591Z' fill='%23939393'/%3E%3Ccircle cx='150.5' cy='150.5' r='62' stroke='%23939393' stroke-width='9'/%3E%3C/svg%3E");
                            background-color: black;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            pointer-events: none;
                        }

                        .under {
                            display: flex;
                            max-width: 300px;
                            margin: auto;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 16px;
                            pointer-events: none;

                            .update {
                                font-weight: 600;
                                padding: 10px 16px;
                                border-radius: 25px;
                                background-color: $accentYellow;
                                color: $primaryBg;
                            }
                        }
                    }
                }

                .submit {
                    font-weight: 600;
                    padding: 10px 16px;
                    border-radius: 25px;
                    background-color: $accentYellow;
                    color: $primaryBg;
                    border: none;
                    flex-basis: 100%;
                    transition: color 300ms;
                    margin-top: 16px;

                    &:hover {
                        color: $secondaryBg;
                    }
                }
            }
        }

        &.table {
            margin-right: 0;
            padding-right: 0;

            overflow-x: scroll;

            .info {
                width: max-content;

                .header {
                    width: 150px;
                }
            }
        }
    }
}